.header {
  background-color: black;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
}

.content {
  padding: 1rem;
}

.live-chat {
  &__button {
    position: fixed !important;
    right: 1rem;
    bottom: 1rem;
  }

  &__window {
    padding: 0 !important;
    margin: 0 !important;
    width: 25rem !important;
    left: auto !important;
    height: 25rem !important;
    display: flex;
    justify-content: space-between;
  }

  &__message-panel {
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
  }

  &__message-input {
    padding: 1rem;
  }
  &__minimize {
    float: right;
  }
}

.chat-bubble {
  white-space: normal !important;
  padding: 0.3rem !important;
  height: auto !important;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
